# Identity Management System properties file

# Postgresql Configuration parameters
db.Adapter=PostgresAdapter
db.Driver=org.postgresql.Driver
db.URL=jdbc:postgresql://localhost/pasta
db.ServerName=localhost
db.Name=pasta
db.User=pasta
db.Password=HIDEPASSWORD
db.MaxConnections=10
